section {
    position: relative;
    height: 100%;
    min-height: 300px;
    article {
        position: relative;
        float: left;
        height: 100%;
        color: #4A4A4A;
        div.textBox {
            text-align: left;
            left: 10%;
            position: relative;
            top: 10%;
            z-index: 10;
            h2 {
                font-size: 3rem;
            }
        }
        agm-map {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            z-index: 1;
        }
        div.btn-apply {
            position: absolute;
            bottom: 10%;
            left: 10%;
            width: 138px;
            height: 76px;
            font-size: 1.5rem;
            background: transparent;
            border: 2px solid white;
            line-height: 76px;
            cursor: pointer;
        }
        .form {
            position: relative;
            top: 150px;
            margin: 0 6%;
            .input-group {
                margin: 10px 0;
                input.form-control {
                    height: 45px;
                    margin-right: 10px;
                }
                input.form-control:last-child {
                    margin-right: 0px;
                }
                textarea {
                    height: 100px;
                }
                .btn-query {
                    width: 150px;
                    margin-left: 10px;
                    border-radius: .25em;
                    border: 1px solid #ced4da;
                    background: #fff;
                    transition: all 0.2s;
                    cursor: pointer;
                }
                .btn-query:hover {
                    background: #f1f1f1;
                    transition: all 0.2s;
                }
            }
        }
    }
    article.location {
        width: 40%;
        // background: url(../../../assets/images/map_sample.png) no-repeat;
        background-size: cover;
    }
    article.quick {
        width: 60%;
        background: white;
        color: #4A4A4A;
        div.textBox {
            text-align: right;
            left: -6%;
            s h2 {
                font-size: 3rem;
            }
        }
    }
}