<section>
    <article class="location">
        <div class="textBox">
            <h2>찾아오시는 길</h2>
        </div>

    </article>
    <article class="quick">
        <div class="textBox">
            <h2>빠른상담</h2>
            <p>궁금하신 내용을 적어주시면 담당자 확인 후 연락드리겠습니다.</p>
        </div>
        <div class="form">
            <form>
                <div class="input-group">
                    <input type="text" name="name" class="form-control" placeholder="이름">
                    <input type="text" name="contact" class="form-control" placeholder="연락처">
                </div>
                <div class="input-group">
                    <input type="text" name="email" class="form-control" placeholder="이메일">
                </div>
                <div class="input-group">
                    <textarea name="desc" class="form-control" placeholder="내용"></textarea>
                </div>
            </form>
        </div>
    </article>
</section>