<article id="appInfo" class="info">
    <div class="textBox">
        <p class="title">기록 속기사무소</p>
        <p class="desc"><strong>안녕하십니까? 기록속기사무소 대표 김충만, 김황하입니다.</strong></p>
        <p class="desc">기록의 궁극적인 목적은 활용입니다. 기록속기사무소는 기록물을 좀 더 쉽고 편리하게 활용할 수 있도록 녹취록, 회의록, 출장속기 업무를 전문으로 하고 있습니다</p>
        <p class="desc">저희의 기록이 고객님께 도움이 되도록 최선을 다하겠습니다.</p>
        <p class="desc">대표 김충만, 김황하</p>

        <div class="main-btn btn-info" routerLink="sub/info">
            회사소개
        </div>
    </div>
</article>