section {
    position: relative;
    height: 100%;
    // min-height: 200px;
    article {
        position: relative;
        float: left;
        height: 100%;
        color: white;
        div.textBox {
            text-align: left;
            left: 8%;
            position: relative;
            top: 25%;
            h2 {
                font-size: 3rem;
            }
        }
        div.btn-apply {
            position: absolute;
            bottom: 10%;
            left: 8%;
            width: 138px;
            height: 54px;
            font-size: 1.2rem;
            background: transparent;
            border: 1px solid white;
            line-height: 50px;
            cursor: pointer;
        }
    }
    article.apply {
        width: 60%;
        background: #4A4A4A;
    }
    article.support {
        width: 100%;
        background: #5a5a5a;
        div.textBox {
            text-align: left;
            left: 10%;
            h2 {
                font-size: 3rem;
            }
        }
        div.contact {
            text-align: right;
            width: 238px;
            height: 60px;
            position: absolute;
            top: 40%;
            right: 10%;
            font-size: 1.5rem;
            line-height: 60px;
            padding-left: 60px;
        }
        div.contact.phone {
            right: 30%;
            background: url(../../../assets/images/phone.svg) left center no-repeat;
            background-size: 12%;
        }
        div.contact.mail {
            background: url(../../../assets/images/mail.svg) left center no-repeat;
            background-size: 12%;
        }
    }
}