section {
    position: relative;
    height: 400px;
    article {
        position: relative;
        float: left;
        height: 100%;
        color: white;
        div.textBox {
            text-align: left;
            left: 8%;
            position: relative;
            top: 10%;
            h2 {
                font-size: 3rem;
            }
        }
        div.btn-apply {
            position: absolute;
            bottom: 10%;
            left: 8%;
            width: 138px;
            height: 76px;
            font-size: 1.5rem;
            background: transparent;
            border: 2px solid white;
            line-height: 76px;
            cursor: pointer;
        }
    }
    article.apply {
        width: 60%;
        background: #4A4A4A;
    }
    article.support {
        width: 40%;
        background: #757077;
        div.textBox {
            text-align: right;
            left: -10%;
            h2 {
                font-size: 3rem;
            }
        }
        div.contact {
            text-align: right;
            width: 70%;
            height: 60px;
            position: absolute;
            right: 10%;
            font-size: 1.5rem;
            line-height: 60px;
            padding-left: 60px;
        }
        div.contact.phone {
            bottom: 5%;
            background: url(../../../assets/images/phone.svg) left center no-repeat;
            background-size: 10%;
        }
        div.contact.mail {
            bottom: 20%;
            background: url(../../../assets/images/mail.svg) left center no-repeat;
            background-size: 10%;
        }
    }
}