<section>
    <!--<article class="apply">
        <div class="textBox">
            <h2>접수</h2>
            <p>접수를 원하시면 아래 접수하기를 클릭하여 접수해주세요.</p>
        </div>
        <div class="main-btn btn-apply" (click)="alert()">
            접수하기
        </div>
    </article>-->
    <article class="support">
        <div class="textBox">
            <h2>고객지원</h2>
            <!--<p>도움이 필요하시면 전화, 이메일 등으로 연락주세요.</p>-->
        </div>
        <div class="contact phone">
            010-2631-2229
        </div>
        <div class="contact mail">
            giroksteno@naver.com
        </div>
    </article>
</section>