<header>
    <div class="">
        <div class="header-logo">
        </div>
        <div class="header-menu">
            <ul>
                <li><a href="" ng-click="scrollTo('foo')">회사소개</a></li>
                <li><a href="" ng-click="scrollTo('foo')">녹취록</a></li>
                <li><a href="" ng-click="scrollTo('foo')">회의록</a></li>
                <li><a href="" ng-click="scrollTo('foo')">실시간속기</a></li>
                <li><a href="" ng-click="scrollTo('foo')">접수</a></li>
                <li><a href="" ng-click="scrollTo('foo')">요금</a></li>
                <li><a href="" ng-click="scrollTo('foo')">고객지원</a></li>
                <li><a href="" ng-click="scrollTo('foo')">빠른상담</a></li>
            </ul>
        </div>
    </div>
</header>