.steno {
    position: relative;
    width: 100%;
    height: 100%;
    background: url(../../../assets/images/steno.jpeg) no-repeat;
    background-size: cover;
    div.textBox {
        position: absolute;
        top: 15%;
        right: 10%;
        width: 30%;
        min-width: 450px;
        color: white;
        text-align: center;
        padding: 15px;
        background: rgba(0, 0, 0, 0.5);
        margin-bottom: 0.5rem;
        .title {
            text-align: right;
            height: 100px;
            line-height: 6.5rem;
            font-size: 3rem;
            background-size: contain;
        }
        .desc {
            text-align: right;
        }
        div.btn-steno {
            position: relative;
            float: right;
            /* bottom: 20%; */
            /* left: 8%; */
            width: 138px;
            height: 54px;
            font-size: 1.2rem;
            background: transparent;
            border: 1px solid white;
            margin-top: 50px;
            line-height: 50px;
            cursor: pointer;
        }
    }
}