app-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 66px;
    background: white;
    z-index: 100;
}

router-outlet {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(200, 200, 200, 0.5);
    overflow: auto;
}

ul {
    li {
        text-decoration: none;
    }
}