/* You can add global styles to this file, and also import other style files */

body {
    font-family: 'Nanum Gothic', sans-serif;
    padding: 0;
    margin: 0;
    ul {
        margin: 0;
        padding: 0;
        li {
            text-decoration: none;
        }
    }
    a {
        text-decoration: none;
        color: black;
    }
    .main-btn {
        transition: all 0.5s;
        background: transparent;
    }
    .main-btn:hover {
        transition: all 0.5s;
        color: black;
        background: rgba(255, 255, 255, 1) !important;
    }
    .main-btn.black-btn:hover {
        color: white !important;
        background: rgba(0, 0, 0, 1) !important;
    }
}