<article id="appProcess" class="process">
    <div class="textBox">
        <p class="title">속기 서비스 절차</p>
        <!--<p class="desc">실시간속기실시간속기실시간속기실시간속기실시간속기실시간속기실시간속기실시간속기실시간속기실시간속기실시간속기실시간속기실시간속기실시간속기실시간속기실시간속기실시간속기실시간속기실시간속기실시간속기실시간속기실시간속기실시간속기</p>-->
    </div>

    <ul class="main-shape">
        <li class="circle">상담 및 의뢰</li>
        <li class="circle">비용 결정 및 계약</li>
        <li class="circle">초안 작성</li>
        <li class="circle">검토 및 대조</li>
        <li class="circle">속기록 완성</li>
    </ul>

    <div class="main-btn black-btn btn-process" routerLink="sub/process">
        자세히 보기
    </div>
</article>